.btn {
    outline-color: transparent;
    border: none;
    cursor: pointer;
    max-width: fit-content;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    transition: all 0.2s;
    font-weight: 800;
}

@mixin solid-color($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;

    &:hover {
        background-color: lighten($color: $bg-color, $amount: 10%);
    }
}

.primary {
    background-color: #000000;
    color: #ffffff;
}

.secondary {
    background: #67a18f;
    color: #ffffff;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 1.2rem;
}
